/*!

--- GLOBALS ---

! GLOBAL
! OVERAL
! CONTAINERS
! TYPOGRAPHY 
! COLORS
! BORDER & SHADOW
! GSAP & ! ANIMATIONS
! SIZES
! POSITION
! PADDINGS & MARGINS + FONT SIZE & GAP (MULTIPLIER)
! FLEX
! GRID
! BUTTONS
! MENU & DROPDOWN
! BREADCRUMBS
! GO TOP BUTTON
! BLOCKS
! OTHERS GLOBALS

--- SUBPAGES ---

! HOMEPAGE
! CONTACT
! 404

! FOOTER

--- ECOMMERCE --- 

! ECOMMERCE
! SHOP PAGE
! SINGLE PRODUCT
! CART
! CHECKOUT
! THANK YOU
! MINI CART

--- RWD

! RESPONSIVE
! XXL
! XL
! L
! M
! S
! XS

! MOBILE MENU

*/

/*--- !GLOBAL ---*/

.grecaptcha-badge {
  display: none !important;
}

::selection {
  background: var(--p-600);
  color: #fff;
}

/* 
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 2px;
}
::-webkit-scrollbar-track {
    background: #fff;
    width: 6px;
} */

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: clip;
  background-color: var(--bg);
}

/*--- !ROOT ---*/

:root {
  --body: #12141a !important;
  --primary: #a08667;
  --p-hover: #c0ae9a;
  --p-100: #ece7e0;
  --p-200: #dfd7cc;
  --p-300: #cfc2b3;
  --p-400: #c0ae9a;
  --p-500: #b09a80;
  --p-600: #857056;
  --p-700: #6b5945;
  --p-800: #504333;
  --p-900: #352d22;
  --p-dark: #201b15;

  --secondary: #2f3d4e;
  --s-hover: #6982a0;
  --s-100: #bed5f1;
  --s-200: #a8c1e0;
  --s-300: #89a2c1;
  --s-400: #6982a0;
  --s-500: #4f6887;
  --s-600: #273341;
  --s-700: #1f2934;
  --s-800: #171e27;
  --s-900: #10141a;
  --s-dark: #090c10;

  --text-p-light: var(--p-400);
  --text-p-lighter: var(--p-200);
  --text-s-light: var(--s-300);
  --text-s-lighter: var(--s-100);

  --gray: #63656a;
  --bg: #fcf6f0;
  --bg-dark: #12141a;
  --bg-p-light: var(--p-300);
  --bg-p-lighter: var(--p-200);
  --bg-p-bright: #efe4d5;
  --bg-s-light: var(--s-300);
  --bg-s-lighter: #f5fbff;

  --border-p: var(--primary);
  --border-p-light: var(--p-200);
  --border-p-dark: var(--p-800);
  --border-s: var(--s-300);
  --border-s-light: var(--s-200);

  --header: 'Noto Serif Display', serif;
  --txt: 'Lato', sans-serif;
  --btns-font: 'Lato', sans-serif;

  --smt: 104px;
  --spt: 104px;
  --menu-height: 104px !important;

  --img-xs: 200px;
  --img-s: 240px;
  --img-m: 360px;
  --img-l: 408px;
  --img-xl: 432px;
  --img-2xl: 608px;
  --img-3xl: 776px;

  --section-gap: 40px;
  --m-title: 16px;
  --m-header: 24px;
  --m-btn: 32px;
  --m-img: 40px;
  --radius: 8px;

  --btns-fontsize: 16px;
  --btns-radius: 16px;
  --btns-padding: 24px 48px;

  --footer-py: 156px 0;

  --gradient: linear-gradient(90deg, var(--primary) 0%, var(--p-500) 100%);
}

/*--- !CONTAINERS ---*/

.c-main {
  max-width: 1376px !important;
  margin: 0 auto;
  padding-left: 24px !important;
  padding-right: 24px !important;
  width: 100%;
}

.c-wide,
.wide .c-main {
  max-width: 1512px !important;
  margin: 0 auto;
  padding-left: 24px !important;
  padding-right: 24px !important;
  width: 100%;
}

/*--- !OVERALL ---*/

.-menu-mt {
  margin-top: var(--menu-height);
}

.-menu-pt {
  padding-top: var(--menu-height);
}

.-smt {
  margin-top: var(--smt) !important;
}

.-spt {
  padding-top: var(--smt) !important;
}

.img-square {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.img-xs,
.img-xs img {
  height: var(--img-xs);
}

.img-s,
.img-s img {
  height: var(--img-s);
}

.img-m,
.img-m img {
  height: var(--img-m);
}

.img-l {
  height: var(--img-l);
}

.img-xl,
.img-xl img {
  height: var(--img-xl);
}

.img-2xl,
.img-2xl img {
  height: var(--img-2xl);
}

.img-3xl,
.img-3xl img {
  height: var(--img-3xl);
}

.section-py {
  padding: var(--smt) 0;
}

.section-gap {
  gap: var(--section-gap);
}

.section-light {
  background: var(--bg-p-lighter);
  padding: 120px 0;
}

.section-white {
  background-color: #fff;
  padding: var(--smt) 0;
  border-top: 1px solid var(--border-light);
}

.section-s-light {
  background-color: var(--bg-s-light);
  padding: var(--smt) 0;

  .text-light {
    color: var(--s-400) !important;
  }
}

.section-brand {
  background: var(--p-hover);
  padding: var(--smt) 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  b,
  strong,
  i,
  ul,
  ul li,
  a {
    color: #fff !important;
  }
}

.section-primary {
  background: var(--primary);
  padding: var(--smt) 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  b,
  strong,
  i,
  ul,
  ul li,
  a {
    color: #fff !important;
  }
}

.section-secondary {
  background: var(--secondary);
  padding: var(--smt) 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  b,
  strong,
  i,
  ul,
  ul li,
  a {
    color: #fff !important;
  }
}

.section-dark {
  background: var(--bg-dark);
  padding: var(--smt) 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  b,
  strong,
  i,
  ul,
  ul li,
  a,
  .accordion-label {
    color: #fff;
  }

  a:hover {
    color: var(--p-300);
  }
}

.m-title {
  padding-bottom: var(--m-title) !important;
}

.m-header {
  margin-bottom: var(--m-header) !important;
}

.m-btn {
  margin-top: var(--m-btn);
}

.m-img {
  margin-bottom: var(--m-img);
}

.__back {
  pointer-events: none !important;
}

.order-flip {
  display: flex;

  .order1:nth-child(1) {
    order: 2;
  }

  .order2:nth-child(2) {
    order: 1;
  }
}

/*--- !TYPOGRAPHY ---*/

.font-header {
  font-family: var(--header);
}

.font-txt {
  font-family: var(--body);
}

p:last-of-type {
  margin-bottom: 0 !important;
}

a {
  color: var(--body);
  text-decoration: none !important;
  transition: all 0.2s ease-out;
}

.subtitle-p {
  display: block;
  font-size: 16px;
  color: var(--p-400);
  padding-bottom: 16px;
}

.subtitle-p:before {
  content: '•';
  margin-right: 8px;
}

.subtitle-s {
  display: block;
  font-size: 16px;
  color: var(--s-400);
  padding-bottom: 16px;
}

.subtitle-s:before {
  content: '•';
  margin-right: 8px;
}

h1,
.text-h1,
h2,
.text-h2,
h3,
.text-h3,
h4,
.text-h4,
h5,
.text-h5,
h6,
.text-h6 {
  font-family: var(--header);
  color: var(--body);
  font-weight: 600;
}

.big {
  font-size: 90px;
  font-weight: 600;
}

h1,
.text-h1 {
  font-size: 72px !important;
  line-height: 5.5rem;
}

h2,
.text-h2 {
  font-size: 60px !important;
  line-height: 5rem;
}

h3,
.text-h3 {
  font-size: 48px !important;
  line-height: 3.3rem;
}

h4,
.text-h4 {
  font-size: 36px !important;
  line-height: 2.4rem;
}

h5,
.text-h5 {
  font-size: 30px !important;
  line-height: 2.5rem;
}

h6,
.text-h6 {
  font-size: 20px !important;
  line-height: 1.6rem;
}

.title {
  text-transform: uppercase;
}

.title::before {
  content: '';
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  margin-right: 0.5em;
  background-color: var(--text-p-light);
  border-radius: 0px;
}

.text-underline {
  text-decoration: underline;
}

.subheader {
  text-transform: uppercase;
  color: var(--primary);
}

/*--- !COLORS ---*/

.text-white {
  color: #fff;
}

.text-body {
  color: var(--body);
}

.text-p-light {
  color: var(--text-p-light) !important;
}

.text-p-lighter {
  color: var(--text-p-lighter) !important;
}

.text-s-light {
  color: var(--text-s-light) !important;
}

.text-s-lighter {
  color: var(--text-s-lighter) !important;
}

.text-gray {
  color: var(--gray) !important;
}

.primary {
  color: var(--primary) !important;
}

.secondary {
  color: var(--secondary);
}

.hover {
  color: var(--hover);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-p-light {
  background-color: var(--bg-p-light);
}

.bg-p-lighter {
  background-color: var(--bg-p-lighter);
}

.bg-p-bright {
  background-color: var(--bg-p-bright);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-s-400 {
  background-color: var(--s-400);
}

.bg-s-light {
  background-color: var(--bg-s-light);
}

.bg-s-lighter {
  background-color: var(--bg-s-lighter);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-s-hover {
  background-color: var(--s-hover);
}

.bg-p-hover {
  background-color: var(--p-hover);
}

.bg-gradient {
  background-image: var(--gradient) !important;
}

.bg-dark {
  background-color: var(--bg-dark) !important;
}

.bg-white {
  background-color: #fff;
}

.bg-light {
  background-color: var(--bg-light) !important;
}

.bg-lighter {
  background-color: var(--bg-lighter);
}

/*--- !BORDER & SHADOW ---*/

.radius {
  border-radius: var(--radius) !important;
}

.radius-img {
  border-radius: var(--radius) !important;
}

.border-p {
  border: 1px solid var(--border-p) !important;
}

.border-p-light {
  border: 1px solid var(--border-p-light) !important;
}

.border-p-dark {
  border: 1px solid var(--border-p-dark) !important;
}

.border-s {
  border: 1px solid var(--border-s) !important;
}

.border-s-light {
  border: 1px solid var(--border-s-light) !important;
}

.border-top-p {
  border-top: 1px solid var(--border-p) !important;
}

.border-right-p {
  border-right: 1px solid var(--border-p) !important;
}

.__card.border-right-p:last-child {
  border-right: none !important;
}

.b-border-l {
  border-left: 1px solid var(--border-p-dark) !important;
}

.b-border-r {
  border-right: 1px solid var(--border-p-dark) !important;
}

.b-border-t {
  border-top: 1px solid var(--border-p-dark) !important;
}

.b-border-b {
  border-bottom: 1px solid var(--border-p-dark) !important;
}

.b-shadow {
  box-shadow: 0px 16px 24px 0px rgb(20, 45, 74, 0.15);
}

.b-shadow:hover {
  box-shadow: 0px 8px 16px 0px rgba(20, 45, 74, 0.35);
}

.border-dashed {
  border-style: dashed !important;
}

/*--- !BUTTONS ---*/

.pointer {
  cursor: pointer;
}

.main-btn {
  font-family: var(--btns-font);
  font-size: var(--btns-fontsize);
  background: var(--primary);
  color: #fff;
  padding: var(--btns-padding);
  display: inline-block;
  transition: all 0.2s ease-out;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: var(--btns-radius);
  text-decoration: none;
  white-space: nowrap;
  width: max-content;
  height: max-content;
}

.main-btn:hover {
  color: #fff;
  background: var(--p-hover);
  transition: all 0.2s ease-out;
  border: 1px solid transparent;
}

.second-btn {
  font-family: var(--btns-font);
  font-size: var(--btns-fontsize);
  background: var(--secondary);
  color: #fff;
  padding: var(--btns-padding);
  display: inline-block;
  transition: all 0.2s ease-out;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: var(--btns-radius);
  text-decoration: none;
  white-space: nowrap;
  width: max-content;
}

.second-btn:hover {
  background: var(--s-hover);
  color: #fff;
  transition: all 0.2s ease-out;
  border: 1px solid transparent;
}

.dark-btn {
  font-size: 14px;
  background: var(--body);
  color: #fff;
  padding: var(--btns-padding);
  display: inline-block;
  transition: all 0.2s ease-out;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: var(--btns-radius);
  text-decoration: none;
  white-space: nowrap;
  width: max-content;
}

.dark-btn:hover {
  background: var(--hover);
  color: #fff;
  transition: all 0.2s ease-out;
  border: 1px solid transparent;
}

.white-btn {
  font-family: var(--btns-font);
  font-size: var(--btns-fontsize);
  background: #fff;
  color: var(--primary);
  padding: var(--btns-padding);
  display: inline-block;
  transition: all 0.2s ease-out;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: var(--btns-radius);
  text-decoration: none;
  white-space: nowrap;
  width: max-content;
}

.white-btn:hover {
  background: var(--p-300);
  color: #fff;
  transition: all 0.2s ease-out;
  border: 1px solid transparent;
}

.stroke-btn {
  font-family: var(--btns-font);
  font-size: var(--btns-fontsize);
  background: transparent;
  color: var(--primary);
  padding: var(--btns-padding);
  display: inline-block;
  transition: all 0.2s ease-out;
  font-weight: 600;
  border: 1px solid var(--primary);
  border-radius: var(--btns-radius);
  text-decoration: none;
  white-space: nowrap;
  width: max-content;
}

.stroke-btn.is-active {
  background: var(--primary);
  color: #fff;
}

.stroke-btn:hover {
  color: #fff;
  transition: all 0.2s ease-out;
  background-color: var(--p-hover);
  border: 1px solid var(--p-hover);
}

.small-btn {
  font-family: var(--btns-font);
  font-size: var(--btns-fontsize);
  background: var(--primary);
  color: #fff;
  padding: 8px 24px;
  display: inline-block;
  transition: all 0.2s ease-out;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: var(--btns-radius);
  text-decoration: none;
  white-space: nowrap;
  width: max-content;
}

.small-btn:hover {
  color: #fff;
  background: var(--p-hover);
  transition: all 0.2s ease-out;
  border: 1px solid transparent;
}

.clean-btn {
  font-family: var(--btns-font);
  font-size: var(--btns-fontsize);
  background: transparent;
  color: #fff;
  padding: 20px 32px;
  display: inline-block;
  transition: all 0.2s ease-out;
  font-weight: 600;
  border: 1px solid #fff;
  border-radius: var(--btns-radius);
  text-decoration: none;
  white-space: nowrap;
  width: max-content;
}

.clean-btn:hover {
  color: #fff;
  transition: all 0.2s ease-out;
  background-color: var(--p-hover);
  border: 1px solid var(--p-hover);
}

.underline-btn {
  font-size: 16px;
  background: transparent;
  color: var(--p-600);
  display: inline-block;
  transition: all 0.2s ease-out;
  border-radius: 0;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  border-bottom: 1px solid var(--primary);
  width: max-content;
}

.underline-btn::after {
  content: url('http://windes.local/wp-content/uploads/2025/06/btn-arrow.svg');
  height: 10px;
  width: 10px;
  margin-left: 8px;
  transition: all 0.2s ease-out;
}

.underline-btn:hover {
  transition: all 0.2s ease-out;
}

.underline-btn:hover::after {
  content: url('http://windes.local/wp-content/uploads/2025/05/arrow-right.svg');
  height: 10px;
  width: 10px;
  margin-left: 16px;
  transition: all 0.2s ease-out;
}

.menu-btn {
  font-family: var(--btns-font);
  background: var(--primary);
  color: #fff !important;
  padding: 8px 16px !important;
  display: inline-block;
  transition: all 0.2s ease-out;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: var(--btns-radius);
  text-decoration: none;
  white-space: nowrap;
}

.menu-btn:hover {
  color: #fff;
  background: var(--p-hover);
  transition: all 0.2s ease-out;
  border: 1px solid transparent;
}

/*--- INLINE BUTTONS ---*/

.inline-buttons {
  display: flex;
  gap: 16px;
}

/*--- !MENU  ---*/

.fixed-top {
  height: var(--menu-height);
  position: fixed;
  width: 100%;
  max-width: 100%;
  z-index: 49;
  transition: all 0.3s;
  transition-delay: 0s;

  .contact__btn {
    background-color: var(--primary);
    padding: 12px 24px;
    transition: all 0.2s ease-out;
    margin-left: auto;

    a {
      color: #fff !important;
    }
  }

  .contact__btn:hover {
    background-color: var(--p-hover);
    padding: 12px 24px;
    transition: all 0.2s ease-out;
  }
}

.fixed-top #menu-menu a {
  color: #fff !important;
  font-size: 14px;
}

.fixed-top.scrollUp {
  transform: translateY(-112px);
  transition: all 0.3s !important;
  /*replace this pixel amount with the height of your nav bar*/
}

.fixed-top.scrollDown {
  background-color: var(--secondary) !important;
  box-shadow: 0 3px 5px rgba(43, 23, 106, 0.2) !important;
}

.fixed-top.scrollDown .nav-link {
  color: var(--body);
}

.mobile-menu {
  z-index: 99999;
}

#mobile-menu-panel {
  li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
  }

  li a:hover {
    color: var(--text-p-light);
  }
}

/*--- !BLOCKS ---*/

/*--- !FORM ---*/

.form {
  label {
    color: #fff;
    margin-top: 24px;
    display: block;
  }

  .wpcf7 form .wpcf7-response-output {
    color: #fff;
    width: max-content;
  }
}

/*--- !THREE COLUMNS ---*/

.three-columns {
  .__rectangle {
    content: '';
    height: 32px;
    width: 8px;
    top: 0;
    background-color: var(--secondary);
  }
}

/*--- !INPUT CONTACT ---*/

input[type='text'],
input[type='tel'],
input[type='email'],
select,
textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border: 1px solid var(--border-s-light);
  padding: 12px 16px;
  transition: all 0.2s ease-out;
  border-radius: 4px;
  font-size: 16px;
}

input::placeholder,
textarea::placeholder {
  color: #8f8f8f;
  opacity: 1;
}

input[type='text']:focus,
input[type='tel']:focus,
input[type='email']:focus,
textarea:focus {
  width: 100%;
  border: 1px solid var(--border-s);
  outline: none;
  transition: all 0.2s ease-out;
}

textarea {
  height: 120px;
}

input[type='submit'] {
  font-size: 16px;
  background: var(--secondary);
  color: #fff;
  padding: 15px 45px;
  display: inline-block;
  transition: all 0.2s ease-out;
  border-radius: 8px;
  font-weight: 600;
  border: 1px solid transparent;
  text-decoration: none;
  white-space: nowrap;
  width: unset !important;
  margin-top: 24px;
  cursor: pointer;
}

input[type='submit']:hover {
  color: #fff;
  background: var(--s-hover);
  transition: all 0.2s ease-out;
  border: 1px solid transparent;
}

input[type='checkbox'] {
  margin-right: 8px;
}

.acceptance label {
  display: flex;
}

.acceptance input {
  width: 16px;
  height: 16px;
  top: 2px;
  position: relative;
}

.acceptance .wpcf7-list-item {
  margin-left: 0;

  a {
    color: #fff;
    opacity: 0.6;
  }

  a:hover {
    color: #fff;
    opacity: 0.3;
  }
}

.wpcf7-not-valid-tip {
  color: #dc3232;
  font-size: 13px;
  font-weight: normal;
  display: block;
  /* bottom: 0; */
  /* position: absolute; */
  background: #fff;
  margin-top: -13px;
  z-index: 9;
  position: relative;
  width: max-content;
  padding: 2px 8px;
  border-radius: 10px;
}

.wpcf7 form .wpcf7-response-output {
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 24px;
  border-bottom: 1px solid var(--primary) !important;
}

/*--- !OFFERS ---*/

.offers {
  .__tile {
    transition: all 0.5s;

    b {
      color: var(--body);
    }

    .__arrow {
      path {
        fill: var(--secondary);
      }
    }
  }

  .__tile:hover {
    background-color: var(--bg-lighter);
    transition: all 0.5s;
    transform: translateY(-5px);

    b {
      color: var(--body);
    }
  }
}

/*--- !MAP ---*/

.map {
  iframe {
    width: 100%;
    min-height: 600px;
  }
}

/*--- !BLOG ---*/

.blog-btn {
  padding: 18px 16px;
  transition: all 0.3s;
}

.featured-post a:hover .blog-btn,
article.post:hover .blog-btn {
  background-color: var(--p-500);
  transition: all 0.3s;

  path {
    fill: #fff;
  }
}

.featured-post img,
article.post img {
  width: 100%;
  display: block;
  transition: transform 0.4s ease-in-out;
}

.featured-post:hover img,
article.post:hover img {
  transform: scale(1.1);
}

.toc ul li {
  border-left: 2px solid #ccc;
  padding-left: 24px;
  margin-bottom: 16px;
}

.toc ul li.active {
  border-left-color: red;
}

/*--- !SINGLE ---*/

.single-post {
  .wysiwyg,
  .cta {
    width: 75%;
    margin: 0 auto;
  }

  .wysiwyg {
    h3:first-child {
      font-size: 30px !important;
      margin-top: 0px;
      margin-bottom: 8px;
    }
  }

  .__content {
    ol {
      list-style: auto;
      padding-left: 24px;
      line-height: 2rem;
    }
  }

  .__entry {
    h2 {
      font-size: 36px !important;
      margin-top: 24px;
      margin-bottom: 8px;
    }

    h2:first-child {
      font-size: 36px !important;
      margin-top: 0;
      margin-bottom: 0;
    }

    h3 {
      font-size: 30px !important;
      margin-top: 24px;
      margin-bottom: 8px;
    }

    ul {
      list-style-type: disc;
      padding-left: 24px;
      margin-top: 8px;
    }

    .image {
      margin-top: 56px !important;
      margin-bottom: 56px;
    }

    .image .c-main {
      padding: 0 !important;
    }
  }

  .related-posts {
    border-top: 1px solid var(--border);
  }
}

/*--- !CTA - STOPKA ---*/
.cta-bottom {
  .__phone::before {
    content: url('http://windes.local/wp-content/uploads/2025/06/phone.svg');
    margin-right: 16px;
    position: relative;
    top: 4px;
  }

  .__mail::before {
    content: url('http://windes.local/wp-content/uploads/2025/06/mail.svg');
    margin-right: 16px;
    position: relative;
    top: 4px;
  }
}

/*--- !WOOCOMMERCE ---*/

/*--- !SHOP PAGE ---*/

.woocommerce .products ul::after, .woocommerce .products ul::before, .woocommerce ul.products::after, .woocommerce ul.products::before {
	display: none !important;
}

.woocommerce-shop {
  .products {
    .woocommerce-loop-category__title {
      font-size: 20px !important;
      line-height: 1.5em;
      text-align: center;
      font-family: var(--txt);
      font-weight: normal;

      mark {
        display: none !important;
      }
    }
  }
}

.woocommerce .products ul, .woocommerce ul.products {
	margin-top:40px;
}

/*--- !SINGLE PRODUCT ---*/
.single-product {
  .shop-btn {
    font-family: var(--btns-font);
    font-size: var(--btns-fontsize);
    background: transparent;
    color: #fff;
    padding: var(--btns-padding);
    padding-left: 24px !important;
    display: inline-block;
    transition: all 0.2s ease-out;
    font-weight: 600;
    border: 2px dotted var(--border-p);
    border-radius: var(--btns-radius);
    text-decoration: none;
    white-space: nowrap;
    width: max-content;
    height: max-content;
  }

  .shop-btn:hover {
    background: var(--primary);
  }

  .shop-btn::before {
    content: url('http://windes.local/wp-content/uploads/2025/10/cart.svg');
    margin-right: 8px;
    position: relative;
    top: 2px;
    width: 20px;
    height: 18px;
    border-radius: 100%;
    padding: 12px;
    background-color: var(--primary);
    display: inline;
    transition: all 0.2s ease-out;
  }

  .shop-btn:hover::before {
    background-color: var(--p-400);
    transition: all 0.2s ease-out;
  }
  .product-about {
    .__glow {
      top: 60%;
      left: 0%;
      width: 423px;
      height: 423px;
      flex-shrink: 0;
      position: absolute;
      border-radius: 423px;
      background: linear-gradient(
        315deg,
        rgb(160, 134, 103, 0.2) 47.34%,
        rgb(160, 134, 103, 0.2) 84.97%
      );
      filter: blur(75px);
    }
  }
  .product-slider .swiper {
    .swiper-slide {
      min-height: 220px;
    }
    .__overlay {
      position: absolute;
      inset: 0;
      background: linear-gradient(
        180deg,
        rgb(18, 20, 26, 0.3) 40%,
        rgb(18, 20, 26) 100%
      );
    }
    .__content {
      position: relative;
      z-index: 10;
    }
    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      width: calc(var(--swiper-navigation-size) / 44 * 27);
      height: var(--swiper-navigation-size);
      margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
      z-index: 10;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFF;
    }
  }
}

/*--- !FOOTER ---*/

.footer-py {
  padding: var(--footer-py);
}

.footer {
  .text-2.widget_text {
    margin-bottom: 40px;
  }

  .__widgets {
    grid-template-columns: repeat(4, 1fr);

    p {
      color: #fff;
    }

    a {
      color: rgba(255, 255, 255, 0.7);
      transition: all 0.3s;
    }

    a:hover {
      color: rgba(255, 255, 255, 1);
      transition: all 0.3s;
    }

    ul.sub-menu {
      display: none;
    }

    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;

      .footer_widget.nav_menu-5 {
        ul {
          display: grid;
          grid-template-columns: 1fr;
        }
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .footer_widget {
    .menu {
      line-height: 2.5rem;
    }
  }
}

/*--- FOOTER MOBILE ---*/

/* Ukryj menu na telefonach */
@media (max-width: 768px) {
  .footer_widget {
    margin-bottom: 0px;
  }

  .footer__widget::first-child {
    margin-bottom: 48px !important;
  }

  .menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
  }

  .footer_widget.open .menu {
    max-height: 500px;
    /* Ustaw odpowiednią wartość */
  }

  .widget-title::after {
    content: url('http://windes.local/wp-content/uploads/2025/08/down-arrow.svg');
    position: absolute;
    /*top: 50%;*/
    right: 10px;
    /* transform: translateY(-50%);*/
    transition: transform 0.3s;
    display: block !important;
    width: 12px;
  }

  .footer_widget.open .widget-title::after {
    content: url('http://windes.local/wp-content/uploads/2025/08/down-arrow.svg');
    position: absolute;
    /*top: 50%;*/
    right: 10px;
    transform: scaleY(-1);
    transition: transform 0.3s;
    display: block !important;
    width: 12px;
  }

  .__widget {
    width: 100%;
  }

  footer h2.widget-title {
    margin-bottom: 0px !important;
  }
}

[x-cloak] {
  display: none !important;
}

/*--- !MOBILE ---*/

/*---- 2XL --*/
@media only screen and (max-width: 1536px) {
  :root {
  }
}

/*---- XL --*/
@media only screen and (max-width: 1280px) {
  :root {
  }
}

/*---- LG --*/
@media only screen and (max-width: 1024px) {
  :root {
    --img-xxl: 520px;
    --img-l: 320px;
  }

  :root {
    .area img {
      --img-xl: 100%;
    }
  }

  .order-flip {
    .order1:nth-child(1) {
      order: 1;
    }

    .order2:nth-child(2) {
      order: 2;
    }
  }

  h1,
  .text-h1 {
    font-size: 42px !important;
    line-height: 3rem;
  }
}

/*---- MD --*/
@media only screen and (max-width: 768px) {
  :root {
    --img-xl: 424px;
  }

  .inline-buttons {
    display: grid;
    gap: 24px;
  }

  .inline-buttons .left-btn {
    margin-right: 0;
  }

  .inline-buttons a {
    width: 100% !important;
    text-align: center !important;
  }

  .single-post {
    .wysiwyg,
    .cta {
      width: 100%;
      margin: 0 auto;
    }
  }
}

/*---- SM --*/
@media only screen and (max-width: 640px) {
  :root {
    --smt: 56px;
    --img-m: 240px;
    --img-l: 240px;
    --img-2xl: 320px;
    --btns-padding: 16px 24px;
  }

  h1,
  .text-h1 {
    font-size: 32px !important;
    line-height: 3rem;
  }

  h2,
  .text-h2 {
    font-size: 26px !important;
    line-height: 2.2rem;
  }

  h3,
  .text-h3 {
    font-size: 24px !important;
    line-height: 2rem;
  }

  h4,
  .text-h4 {
    font-size: 24px !important;
  }

  h5,
  .text-h5 {
    font-size: 22px !important;
    line-height: 2rem;
  }

  h6,
  .text-h6 {
    font-size: 20px !important;
  }
}

/*---- XS --*/
@media only screen and (max-width: 430px) {
  :root {
    --img-xl: 320px;
  }
}
