.about, .product-about, .product-usage {
	.__glow {
		top: 0;
		right: 20%;
		width: 480px;
		height: 480px;
		flex-shrink: 0;
		position: absolute;
		border-radius: 423px;
		background: linear-gradient(315deg, rgba(160, 134, 103, 0.3) 47.34%, rgba(160, 134, 103, 0.3) 84.97%);
		filter: blur(75px);
	}

	ul {
		margin-top: 8px;

		li {
			position: relative;
			padding-left: 1em;
			border-bottom: 1px solid var(--border-light);
			width: fit-content;
		}

		li:last-child {
			border-bottom: 0;
			margin-bottom: 0px;
			padding-bottom: 0px;
		}

		li:before {
			content: '•';
			position: absolute;
			left: 0;
			background-size: cover;
		}
	}
}

.product-about {
	b, strong {
		display: block;
		margin-top:24px;
	}
}