.hero {
	background-position: 70% !important;

	:focus-visible {
		outline: none;
	}
	input::placeholder {
		color:#FFF;
	}
	input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}
}